body {
	background-image: url("images/fight1.jpg"); 
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Bangers', cursive;
}
h1 {
	text-align: center;
	color: black;
	font-family: 'Bangers', cursive;
	font-size: 70px;
	margin-top: auto;
}

h2 {
	font-size: 30px;
}

#box1 {
	float: left;
	vertical-align: top;
	height: 300px;
	width: 250px;
	position: absolute;
	top: 0px;
	left: 30px;	
}

#box2 {
	float: right;
	height: 300px;
	width: 250px;
	position: absolute;
	top: 0px;
	right: 0px;	
}
#player1 {
	text-decoration: underline;
	font-size: 40px;
}

#player2 {
	text-decoration: underline;
	font-size: 30px;
}

#p1Score {
	font-size: 40px;
}

#p2Score {
	font-size: 40px;
}

p {
	font-size: 20px;
}

#notificationCenter {
	margin: auto;
	text-align: center;
	width: 500px;
	height: 80px;
	border: thick solid red;
	font-size: 40px;
	font-weight: 1100;
}

#selectors { 
	font-size: 40px;
	text-align: center;
	background-color: black;
	color: white;
	width: 500px;
	margin: auto;
	font: 30px;

}

#p1SelectWeapon {
	font-size: 25px;
	text-decoration: underline; 
 }


#submit { 
	background-color: #8B0000;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	margin: 4px 2px;
	font-family: 'Bangers', cursive;
}

#the-rock {
	height: 300px;
	width: 225px;

	display: none;
	position: absolute;
	left:250px;
	bottom:20px;
}

#paper {
	height: 300px;
	width: 225px;
	display: none;
	position: absolute;
	left:250px;
	bottom:20px;
}

#scissor {
	height: 300px;
	width: 225px;
	display: none;
	position: absolute;
	left:250px;
	bottom:20px;
}

#the-rock2 {
	height: 300px;
	width: 225px;
	display: none;
	position: absolute;
	right:250px;
	bottom:20px;
}

#paper2 {
	height: 300px;
	width: 200px;
	display: none;
	position: absolute;
	right:250px;
	bottom:20px;
}

#scissor2 {
	height: 300px;
	width: 225px;
	display: none;
	position: absolute;
	right:250px;
	bottom:20px;
}


#countdown {
	top: 50%;
	left: 50%;
	margin-top: 10px;
  	margin-left: 500px;

}

#three {
	height: 350px;
	width: 225px;
	display: none;
}

#two {
	height: 350px;
	width: 225px;
	display: none;
}
#fight {
	height: 350px;
	width: 225px;
	display: none;
}

#one {
	height: 400px;
	width: 275px;
	display: none;









