body {
	background-image: url("images/fight1.jpg"); 
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Bangers', cursive;
}
header h1 {
	text-align: center;
	color: black;
	font-size: 70px;
	margin: 0;
}
header {
	display: flex;
	justify-content: space-between;
	max-height: 170px;
}
.scoreboard h2 {
	font-size: 40px;
	margin: 1em 0 0 0;
}
.scoreboard {
	height: 300px;
	width: 250px;
	padding: 0 3em;
}
.scoreboard p {
	font-size: 30px;
	margin: 0;
}

#player1 {
	text-decoration: underline;
	font-size: 40px;
}
.score {
	font-size: 40px;
}

.box2.scoreboard {
	text-align: right;
	
}

#player2 {
	text-decoration: underline;
	font-size: 30px;
}

.top-box {
	display: flex;
    justify-content: space-around;
}

#notificationCenter {
	margin: auto;
	text-align: center;
	width: 500px;
	height: 80px;
	border: thick solid red;
	font-size: 40px;
	font-weight: 1100;
}

#selectors { 
	font-size: 40px;
	text-align: center;
	background-color: black;
	color: white;
	width: 500px;
	margin: auto;
	font: 30px;
}

#submit { 
	background-color: #8B0000;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	margin: 4px 2px;
	font-family: 'Bangers', cursive;
}
#reset {
	background-color: #8B0000;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	margin: 4px 2px;
	font-family: 'Bangers', cursive;
}

.player-sequence {
	display: flex;
	height: 320px;
	justify-content: space-around;
	margin: auto;
}

.p1-image {
	height: 320px;
	
}
.computer-image {
	height: 320px;
	
}

#the-rock {
	display: none;
}
#paper {
	display: none;
}
#scissor {
	display: none;
}
#the-rock2 {
	display: none;
}
#paper2 {
	display: none;
}
#scissor2 {
	display: none;
}
.countdown-image {
	height: 250px;
	margin-top: 2em;
	
}
#three {
	display: none;
}
#two {
	display: none;
}
#one {
	display: none;
}


